#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a vaultwarden instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=Podman vaultwarden server for NS8

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/secrets/passwords.secret
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/vaultwarden.pid %t/vaultwarden.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/vaultwarden.pid \
    --cidfile=%t/vaultwarden.ctr-id \
    --env-file=%S/state/environment \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${HTTP_TCP_PORT}:80 \
    --env-file=smarthost.env \
    --enf-file=vaultwarden.env \
    --env-file=%S/state/environment \
    --volume vaultwarden-data:/data/:Z \
    ${VAULTWARDEN_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/vaultwarden.ctr-id -t 15
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/vaultwarden.ctr-id
PIDFile=%t/vaultwarden.pid
Type=forking

[Install]
WantedBy=default.target
